# IDE
.idea/
.vs-code/
.vscode/
.vs/

# Cache
nimcache/
nimble/
htmldocs/

# builded
**/build/

# Test SPA project
test_app/

# Test SSG project
test_ssg/

# Logs
*.log

# Compiled
*.js
*.exe

# Testing :)
a.nim
