# HappyX project configuration.

[Main]
projectName = website
projectType = SPA
mainFile = main  # main script filename (without extension) that should be launched with hpx dev command
srcDir = src  # source directory
