name: gh-pages

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/*'
      - '*.md'
      - '*.nimble'
      - '.gitignore'
      - 'LICENSE'
      - '**/FUNDING.yml'
      - '**/tests.yml'
      - '**/examples.yml'
  pull_request:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/*'
      - '*.md'
      - '*.nimble'
      - '.gitignore'
      - 'LICENSE'
      - '**/FUNDING.yml'
      - '**/tests.yml'
      - '**/examples.yml'

permissions:
  contents: write

jobs:
  before:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - run: echo "not contains '[skip ci]'"

  docs:
    runs-on: ubuntu-latest
    needs: before
    env:
      nim_version: '1.6.14'
    steps:
      - uses: actions/checkout@v3

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@v1
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('*.nimble') }}
      
      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ env.nim_version }}

      - name: Install Dependencies
        run: |
          nimble refresh
          nimble install -y

      - name: Generate API documents
        run: nim doc --index:on -d:docgen --project --out:docs --hints:off src/happyx.nim
      
      - name: Build HappyX website
        timeout-minutes: 2
        run: |
          cd ./examples/website/src
          nim js -d:danger --opt:size --checks:off --assertions:off --hints:off --warnings:off --panics:off --lineDir:off main
          cd ../../..
          mkdir ./docs/happyx/public/
          mkdir ./docs/public/
          cp ./examples/website/src/index.html ./docs/
          cp ./examples/website/src/main.js ./docs/
          cp ./examples/website/src/happyx/public/* ./docs/happyx/public/
          cp ./examples/website/src/happyx/public/* ./docs/public/
      
      - name: CNAME For Nim Town
        run: echo "hapticx.nim.town" > ./docs/CNAME

      - name: Deploy documents
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
        if: github.ref == 'refs/heads/master'